/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;
html {
	height: 100%;
	background: rgb(94, 167, 245);
	background: -webkit-linear-gradient(to left, #8f94fb, #1f2aff);
}
body {
	height: 100%;
}
